.Parallax{
    background-image: url('../../images/bg.jpg');
    height: 35vh;
    margin: .2rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 4%, 100% 21%, 100% 93%, 0 77%);
}

.parallax__title{
    z-index: 1;
    font-size: 4rem;
    line-height: 35vh;
    text-align: center;
}