@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.Slider-container{
  max-width: 90vw;
  margin: auto;
}

.project{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  gap: .5rem;
  margin-bottom: 2rem;
  border-radius: 3px;
}
.project img{
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.slide__title{
  /* margin-bottom: 1.5rem; */
  padding: .5rem;
}

.slide{
  transform: scale(.56);
  transition: transform 300ms ease-out;
  opacity: 0.7;
}

.activeSlide{
  transform: scale(1.4);
  opacity: 1;
}

.arrow{
  /* background-color: rgba(255, 255, 255, 0.4); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.arrow svg{
  padding: .4rem;
  transition: color;
}

.arrow svg:hover{
  color: teal;  
  border-radius: 50%;
}


.next{
  right: 0;
  top: 40%;  
}

.prev{
  left: 0%;
  top: 40%;
}

@media screen and (max-width: 600px){
  .slide{
    transform: scale(.3);
  }
  
  .activeSlide{
    transform: scale(1.65);
  }
  .project{
    height: 30vh;
  }
  .Slider-container{
    max-width: 100vw;
  }
  
}

