:root{
    --text: #FFF
}
.Header{
    /* background-image: url('../../images/bg2.jpg'); */
    /* background-image: url('../../images/bg3.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    /* border-radius: 0 0  90% 90% / 10%; */
    /* background-color: transparent; */
    color: var(--text);
}
.svg{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    width: 95vw;
    margin: auto;
    height: 120%;
}

.Header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    transition: 0.6s;
}

.nav__logo{
    z-index: 1;
    cursor: pointer;
}

.nav__links{
    z-index: 1;
    list-style: none;
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
}
.nav__links a{
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.nav__links a:hover{
    color: tomato;
}

.nav__logo{
    color: dodgerblue;
    font-size: 1.8rem;
}


.Header__menu{
    display: none;
    cursor: pointer;
    font-size: 1.4rem;
}
.personal__info-container{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/personal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.personal__info{
    background-color: rgb(0, 0, 0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.personal__info div{
    padding: 1.5rem;
}
.personal__info-name{
    font-size: 2.5rem;
}

.personal__info-job{
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

@media screen and (max-width: 500px){
    .nav__logo{
        color: snow;
    }
    .nav__links{
        opacity: 0;
        position: absolute;
        flex-direction: column;
        top: 3rem;
        right: 1rem;
        background-color: #FFF;
        padding: 1.5rem;
        border-radius: .5rem;
        box-shadow: 0rem 0rem .2rem .1rem rgb(0, 0, 0);
        animation: hidenav .6s forwards;
    }
    .nav__links a:active .Header__menu{
        animation: hidenav .6s forwards;
        display: none;
    }
    .nav__links a{
        color: #000;
    }
    .Header__menu{
        display: block;
        z-index: 1;
    }
    .nav__links.active{
        display: flex;
        animation: shownav .6s forwards;
    }
}
@media screen and (max-width: 700px){
    .personal__info-name{
        font-size: 2rem;
    }

    .personal__info-job{
        font-size: 1rem;
    }
}
@media screen and (max-width: 420px){

.personal__info-name{
    font-size: 1.6rem;
}

.personal__info-job{
    font-size: .8rem;
}
}

@keyframes shownav{
    from{
        opacity: 0;
        transform: translateX(40px);
        display: none;
    }
    to{
        opacity: 1;
        transform: translateX(0);
        display: flex;
    }
}

@keyframes hidenav{
    from{
        opacity: 1;
        transform: translateX(0);
        display: flex;
    }
    to{
        opacity: 0;
        transform: translateX(40px);
        display: none;
    }
}