.about-me{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.about-me__title{
    text-align: center
}
.Section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.personal__photo__container{
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 150vw;
}
.personal__photo{
    width: 90%;
    min-height: 30vh;
    transform: rotateY(35deg);
    transition: all .6s ease-in-out;
}
.personal__info__container h3{
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.personal__photo__container:hover .personal__photo{
    transform: rotateY(10deg);
}


@media screen and (max-width: 600px){
    .Section{
        flex-direction: column;
    }
    .personal__photo{
        width: 90%;
        min-height: 30vh;
        transform: rotateY(0deg);
        transition: all .6s ease-in-out;
    }
    .personal__photo__container:hover .personal__photo{
        transform: rotateY(0);
    }
}
