.Footer{
    background-color: #102e36;
    height: 8vh;
    margin-top: 1rem;
    padding: .5rem .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #FFF;
    gap: .2rem;
}


.Footer__creador-name{
    font-size: 1rem;
    color: var(--blue)
}

