@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

:root{
  --blue: #9ad3bc;
  --white: #f3eac2;
  --orange: #f5b461;
  --red: #ec524b;
  --blue-dark: #3589a1;
  --blue-darker: #1C4956;
}
*{
  padding: 0;
  margin: 0;
}
.App{
  overflow: hidden;
  background-color: #f1faee;
  min-height: 100vh;
  /* color: #FFF; */
  /* padding: 1rem; */
}

.contact-btn{
  outline: none;
  padding: .8rem 1.5rem;
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  position: relative;
  /* color: #FFF; */
  transition: 0.5s;
  background-size: 200% auto;
  cursor: pointer;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)
}
.main{
  background-color: #FFF;
}
.contact-btn:hover {
  background-position: right center; /* change the direction of the change here */
  /* color: #fff; */
  text-decoration: none;
}

@media screen and (max-width: 600px){
  .App{
    padding: 0rem;
  }
}